@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat';
  font-size: 18px;
  background-color: #FBFAF8;
}

.custom-container {
  padding: 40px 10%;
  width: 100%;
}

/* navbar styles */
.navbar {
  padding: 0 10%;
  background-color: #8E9882;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.navbar > div:first-child {
  width: 10%;
}

.navbar > div:last-child {
  width: 10%;
}

.buttons {
  display: flex;
  align-items: center;
}

.logo-space {
  margin: 20px 0;
}

.logo-space img {
  width: 105px !important;
  height: 29px !important;
}

.buttons span {
  margin: 10px;
  margin-top: 20px;
  padding: 0 10px;

  color: #fff;

  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;

  line-height: 36px;

  border-bottom: 10px solid #c69f6600;

  cursor: pointer;

  transition: .2s ease-in-out;
}

.menus {
  display: flex;
  justify-content: center;
  height: 56px;
}

.buttons span:hover, .selected {
  border-bottom: 10px solid #C69F66 !important;
}

@media (max-width: 675px) {
  .navbar {
    padding: 0;
    height: 123px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .logo-space img, .logo-space > div {
    width: 222px !important;
    max-width: 222px !important;
    height: 39px !important;
    max-height: 39px !important;
  }

  .logo-space {
    text-align: center;
  }

  .navbar > div:first-child {
    width: 100%;
  }

  .buttons {
    width: 100%;
  }

  .buttons span {
    margin-top: 3px;
  }

  .menus {
    width: 100%;
  }

  .buttons span {
    width: 50%;
    margin: 0;
    text-align: center;
    margin-top: -7px !important;
  }

  .container {
    padding: 40px 24px;
    width: 100%;
  }

  .product-card {
    margin-right: 0;
    width: 327px !important;
    height: 349px !important;
    margin: 0 0 24px 0 !important;
  }

  .coffees {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* ///////////////////////////////// */

.title-products-list {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #32332E;
}

.card-header {
  display: flex;
  justify-content: center;
}

.label-products-list {
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #615F5B;
}

.product-card {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
  width: 264px;
  height: 349px;
  background-color: #fff;
  border: 1px solid #E7E3D9;
  border-radius: 8px;
  margin: 0 24px 24px 0;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-header {
  padding-bottom: 16px;
  border-bottom: 1px solid #F1E7CD;
}

.card-body .product-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 9px;
}

.product-type {
  margin-top: 9px;
  max-width: 82px;
  height: 24px;
  background: #758266;
  border-radius: 2px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 4px 8px;
  color: #FBFAF8;
}
