:root {
  --white-green: #FBFAF8;
  --light-grey: #ccc;
  --light-green: #8E9882;
  --medium-grey: #888;
  --white: #fff;
  --transparent: #c69f6600;
  --orange: #C69F66;
  --dark-green: #32332E;
  --light-brown: #615F5B;
  --light-yellow: #E7E3D9;
  --medium-yellow: #F1E7CD;
  --light-orange: #FBFAF8;
  --medium-green: #758266;
  --dark-orange: #CD4C15;
  --dark-yellow: #8A8370;

}






